/* for hiding inactive sections */
.inactive {
  display: none !important;
}

body {
    margin:25px;

    background-color: #FAF3DD;
}

h2 { /* top text */
    margin: 0px;

    font-family: 'Homemade Apple', cursive;
    color: #468681; /* dark teal */

    /* original teal: #68B0AB */
}

h3 { /* card name */
    margin: 0px;

    font-family: 'Roboto Slab', serif;
    color: #468681; /* dark teal */
}

p {
    margin: 5px 0px;

    font-family: 'Source Sans Pro', sans-serif;
    color: #dfb32b; /* not periwinkle */
}

.button {
    margin: 8px 0px;

    display: inline-block;
    background-color: #9acac7; /* light teal */
    padding: 10px 30px;
    border-radius: 4px;

    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    font-size: large;
    letter-spacing: 2px;
    color: #468681; /* dark teal */
}

.button:hover, .button:active {
    cursor: pointer;

    background-color: #468681; /* dark teal */

    color: #9acac7; /* light teal */
}

.result {
    margin: 20px 0px;

    padding: 15px;

    border: 2px dashed #468681; /* dark teal */
}